day_01/bin
day_01/obj
day_01/.cache/clangd/index
day_01/compile_commands.json
libs/obj
libs/libAOC.a
day_02/.cache/clangd/index
day_02/bin
day_02/obj
day_02/compile_commands.json
day_03/.cache/clangd/index
day_03/bin
day_03/obj
day_03/compile_commands.json
