*/bin
*/obj
*/.cache/clangd/index
*/compile_commands.json
libs/obj
libs/libAOC.a
.cache/clangd/index
compile_commands.json
*/*.txt
day_08/callgrind.out.3125122
day_08/inputreader.py
day_08/py_solution.py
day_08/__pycache__
